Python for Data & Analytics<br>
Chapter 12, section 3

*** requires datafile: cdrates.html

In [1]:
import pandas as pd
dfs = pd.read_html('cdrates.html')

In [2]:
type(dfs)

list

In [3]:
len(dfs)

1

In [4]:
dfs[0]

  term  rate
0  1yr  1.50
1  5yr  2.25

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
dfs = pd.read_html(url)

In [6]:
len(dfs)

2

In [7]:
dfs[0].head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [8]:
dfs = pd.read_html(url, index_col=0)
dfs[0].head()

,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
Symbol,,,,,,,,
MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [9]:
dfs[0].to_csv('sp500-constituents.txt', sep='|')

Code from: Python for Data & Analytics, (c) 2023 Rose River Software, LLC