## QuantLib - Dates and Rates

In [ ]:
#!pip install Quantlib-Python

In [1]:
# From QuantLib Python Cookbook
from QuantLib import *
import pandas as pd

In [2]:
# QuantLib Date class
date = Date(31, 3, 2015)
print(date)

March 31st, 2015

In [3]:
# what are the methods available with QuantLib dates?
# (below expression is an example of a 'list comprehension')
[f for f in dir(date) if f[0] != '_']

['ISO',
 'dayOfMonth',
 'dayOfYear',
 'endOfMonth',
 'fractionOfDay',
 'fractionOfSecond',
 'from_date',
 'hours',
 'isEndOfMonth',
 'isLeap',
 'localDateTime',
 'maxDate',
 'microseconds',
 'milliseconds',
 'minDate',
 'minutes',
 'month',
 'nextWeekday',
 'nthWeekday',
 'seconds',
 'serialNumber',
 'this',
 'thisown',
 'to_date',
 'todaysDate',
 'universalDateTime',
 'weekday',
 'weekdayNumber',
 'year']

In [4]:
# Date fields - show ISO YYYY-MM-DD format
print("%d-%02d-%02d" %(
    date.year(),
    date.month(),
    date.dayOfMonth(),
    )
)

2015-03-31

In [5]:
# day of the Week
date.weekday() == Tuesday

True

In [6]:
# Date arithmetic
print(date, ';', date+1)

March 31st, 2015 ; April 1st, 2015

In [7]:
# Date arithmetic and periods
print("Add a day : {0}".format(date + 1))
print("Subtract a day : {0}".format(date - 1))
print("Add a week : {0}".format(date + Period(1, Weeks)))
print("Add a month : {0}".format(date + Period(1, Months)))
print("Add a year : {0}".format(date + Period(1, Years)))

Add a day : April 1st, 2015
Subtract a day : March 30th, 2015
Add a week : April 7th, 2015
Add a month : April 30th, 2015
Add a year : March 31st, 2016

In [8]:
# Date logical operations
print(date == Date(31, 3, 2015))
print(date > Date(30, 3, 2015))
print(date < Date(1, 4, 2015))
print(date != Date(1, 4, 2015))

True
True
True
True

In [9]:
# Date business day calendars
date = Date(31, 3, 2015)
us_calendar = UnitedStates(UnitedStates.GovernmentBond)
italy_calendar = Italy()
period = Period(60, Days)
raw_date = date + period
us_date = us_calendar.advance(date, period)
italy_date = italy_calendar.advance(date, period)
print("Add 60 days: {0}".format(raw_date))
print("Add 60 business days in US: {0}".format(us_date))
print("Add 60 business days in Italy: {0}".format(italy_date))
print(type(us_calendar))

Add 60 days: May 30th, 2015
Add 60 business days in US: June 24th, 2015
Add 60 business days in Italy: June 26th, 2015
<class 'QuantLib.QuantLib.UnitedStates'>

In [11]:
# what are the methods available for the UnitedStates() calendar
[f for f in dir(us_calendar) if f[0] != '_']

['FederalReserve',
 'GovernmentBond',
 'LiborImpact',
 'NERC',
 'NYSE',
 'Settlement',
 'addHoliday',
 'adjust',
 'advance',
 'businessDaysBetween',
 'endOfMonth',
 'holidayList',
 'isBusinessDay',
 'isEndOfMonth',
 'isHoliday',
 'isWeekend',
 'name',
 'removeHoliday',
 'this',
 'thisown']

In [12]:
us_busdays = us_calendar.businessDaysBetween(date, us_date)
italy_busdays = italy_calendar.businessDaysBetween(date, italy_date)
print("Business days US: {0}".format(us_busdays))
print("Business days Italy: {0}".format(italy_busdays))
print(type(us_busdays))

Business days US: 60
Business days Italy: 60
<class 'int'>

In [13]:
joint_calendar = JointCalendar(us_calendar, italy_calendar)
joint_date = joint_calendar.advance(date, period)
joint_busdays = joint_calendar.businessDaysBetween(date, joint_date)
print("Add 60 business days in US-Italy: {0}".format(joint_date))
print("Business days US-Italy: {0}".format(joint_busdays))
print(type(joint_calendar))

Add 60 business days in US-Italy: June 29th, 2015
Business days US-Italy: 60
<class 'QuantLib.QuantLib.JointCalendar'>

In [15]:
# Schedule Class
effective_date = Date(1, 1, 2015)
termination_date = Date(1, 1, 2016)
tenor = Period(Monthly)
calendar = UnitedStates(UnitedStates.GovernmentBond)
business_convention = Following
termination_business_convention = Following
date_generation = DateGeneration.Forward
end_of_month = False

schedule = Schedule(effective_date,
                    termination_date,
                    tenor,
                    calendar,
                    business_convention,
                    termination_business_convention,
                    date_generation,
                    end_of_month)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

In [16]:
# Schedule - short stub in the front
effective_date = Date(1, 1, 2015)
termination_date = Date(1, 1, 2016)
first_date = Date(15, 1, 2015)
schedule = Schedule(effective_date,
                    termination_date, 
                    tenor,
                    calendar,
                    business_convention,
                    termination_business_convention,
                    DateGeneration.Backward,
                    end_of_month,
                    first_date)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    January 15th, 2015
2    February 2nd, 2015
3       March 2nd, 2015
4       April 1st, 2015
5         May 1st, 2015
6        June 1st, 2015
7        July 1st, 2015
8      August 3rd, 2015
9   September 1st, 2015
10    October 1st, 2015
11   November 2nd, 2015
12   December 1st, 2015
13    January 4th, 2016

In [17]:
# Schedule - short period at the back
effective_date = Date(1, 1, 2015)
termination_date = Date(1, 1, 2016)
penultimate_date = Date(15, 12, 2015)
schedule = Schedule(effective_date,
                    termination_date,
                    tenor,
                    calendar,
                    business_convention,
                    termination_business_convention,
                    DateGeneration.Forward,
                    end_of_month,
                    Date(),
                    penultimate_date)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12  December 15th, 2015
13    January 4th, 2016

In [18]:
# long period in the front
first_date = Date(1, 2, 2015)
effective_date = Date(15, 12, 2014)
termination_date = Date(1, 1, 2016)
schedule = Schedule(effective_date,
                    termination_date,
                    tenor,
                    calendar,
                    business_convention,
                    termination_business_convention,
                    DateGeneration.Backward,
                    end_of_month,
                    first_date)
pd.DataFrame({'date': list(schedule)})

                   date
0   December 15th, 2014
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

In [19]:
# long period at the back
effective_date = Date(1, 1, 2015)
penultimate_date = Date(1, 12, 2015)
termination_date = Date(15, 1, 2016)
schedule = Schedule(effective_date,
                    termination_date,
                    tenor,
                    calendar,
                    business_convention,
                    termination_business_convention,
                    DateGeneration.Forward,
                    end_of_month,
                    Date(),
                    penultimate_date)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12   January 15th, 2016

In [20]:
# Schedule from a list of dates
dates = [Date(2,1,2015), Date(2, 2,2015),
Date(2,3,2015), Date(1,4,2015),
Date(1,5,2015), Date(1,6,2015),
Date(1,7,2015), Date(3,8,2015),
Date(1,9,2015), Date(1,10,2015),
Date(2,11,2015), Date(1,12,2015),
Date(4,1,2016)]
rolling_convention = Following
schedule = Schedule(dates, calendar,
                    rolling_convention)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

In [22]:
# Interest Rate class
annual_rate = 0.05
day_count = ActualActual(ActualActual.Bond)
compound_type = Compounded
frequency = Annual
interest_rate = InterestRate(annual_rate,
                             day_count,
                             compound_type,
                             frequency)
print(interest_rate)

5.000000 % Actual/Actual (ISDA) Annual compounding

In [25]:
# coupound interest
t = 2.0
print(interest_rate.compoundFactor(t))
print((1+annual_rate)*(1.0+annual_rate))

1.1025
1.1025

In [26]:
# discount factor
print(interest_rate.discountFactor(t))
print(1.0/interest_rate.compoundFactor(t))

0.9070294784580498
0.9070294784580498

In [27]:
# Equivalent rate
new_frequency = Semiannual
new_interest_rate = interest_rate.equivalentRate(compound_type, new_frequency, t)
print(new_interest_rate)

4.939015 % Actual/Actual (ISDA) Semiannual compounding

In [28]:
# Equivalent rates and their discount factors
print(interest_rate.discountFactor(t))
print(new_interest_rate.discountFactor(t))

0.9070294784580498
0.9070294784580495