Python for Data & Analytics<br>
Chapter 14, Example Programs

Program 14-1

In [1]:
# a minimal Python + SQL example, using SQlite

# the sqlite3 package is included in Python 3 distributions
import sqlite3 as db

# establish a Connection to a SQLite file, indicating the filename
connection = db.connect('dj.db')

# the Cursor will be used to submit database requests and get results
cursor = connection.cursor()

# submit a SQL request to the database
cursor.execute('SELECT * FROM company')

# get the full result set as a matrix represented by a list of tuples
rows = cursor.fetchall()

# display the rows returned from the database
print(rows)

[(1, 'M', "Macy's Inc"), (2, 'AXP', 'American Express Company'), (3, 'AAPL', 'Apple Inc.'), (4, 'BA', 'The Boeing Company'), (5, 'CAT', 'Caterpillar Inc.'), (6, 'CVX', 'Chevron Corporation'), (7, 'CSCO', 'Cisco Systems Inc.'), (8, 'KO', 'Coca-Cola Company (The)'), (9, 'DIS', 'The Walt Disney Company'), (10, 'DOW', 'Dow Inc.'), (11, 'XOM', 'Exxon Mobil Corporation'), (12, 'GS', 'Goldman Sachs Group Inc. (The)'), (13, 'HD', 'Home Depot Inc. (The)'), (14, 'IBM', 'International Business Machines Corporation'), (15, 'INTC', 'Intel Corporation'), (16, 'JNJ', 'Johnson & Johnson'), (17, 'JPM', 'JP Morgan Chase & Co.'), (18, 'MCD', "McDonald's Corporation"), (19, 'MRK', 'Merck & Company Inc. (new)'), (20, 'MSFT', 'Microsoft Corporation'), (21, 'NKE', 'Nike Inc.'), (22, 'PFE', 'Pfizer Inc.'), (23, 'PG', 'Procter & Gamble Company (The)'), (24, 'TRV', 'The Travelers Companies Inc.'), (25, 'UTX', 'United Technologies Corporation'), (26, 'UNH', 'UnitedHealth Group Incorporated (DE)'), (27, 'VZ', 'Verizon Communications Inc.'), (28, 'V', 'Visa Inc.'), (29, 'WMT', 'Walmart Inc.'), (30, 'WBA', 'Walgreens Boots Alliance Inc.')]

Program 14-2

In [2]:
# query a SQLite table, and display the results one field at a time
import sqlite3 as db

# establish a Connection to a SQLite file, indicating the filename
connection = db.connect('dj.db')

# the Cursor will be used to submit database requests and get results
cursor = connection.cursor()

# submit a SQL request to the database
cursor.execute('SELECT id, ticker, name FROM company')

# get the full result set as a matrix represented by a list of tuples
rows = cursor.fetchall()

# display the rows returned, accessing each field individually
for row in rows:
   for field in row:
      print(field, end='|') # display each field with | separator
   print() # go to next line

1|M|Macy's Inc|
2|AXP|American Express Company|
3|AAPL|Apple Inc.|
4|BA|The Boeing Company|
5|CAT|Caterpillar Inc.|
6|CVX|Chevron Corporation|
7|CSCO|Cisco Systems Inc.|
8|KO|Coca-Cola Company (The)|
9|DIS|The Walt Disney Company|
10|DOW|Dow Inc.|
11|XOM|Exxon Mobil Corporation|
12|GS|Goldman Sachs Group Inc. (The)|
13|HD|Home Depot Inc. (The)|
14|IBM|International Business Machines Corporation|
15|INTC|Intel Corporation|
16|JNJ|Johnson & Johnson|
17|JPM|JP Morgan Chase & Co.|
18|MCD|McDonald's Corporation|
19|MRK|Merck & Company Inc. (new)|
20|MSFT|Microsoft Corporation|
21|NKE|Nike Inc.|
22|PFE|Pfizer Inc.|
23|PG|Procter & Gamble Company (The)|
24|TRV|The Travelers Companies Inc.|
25|UTX|United Technologies Corporation|
26|UNH|UnitedHealth Group Incorporated (DE)|
27|VZ|Verizon Communications Inc.|
28|V|Visa Inc.|
29|WMT|Walmart Inc.|
30|WBA|Walgreens Boots Alliance Inc.|

Program 14-3

In [3]:
# fetchone() gets one result row at a time; used here with while
import sqlite3 as db

# establish a Connection to a SQLite file, indicating the filename
connection = db.connect('dj.db')

# the Cursor will be used to submit database requests and get results
cursor = connection.cursor()

# submit a SQL request to the database
cursor.execute('SELECT id, ticker, name FROM company LIMIT 5')

# Access and display rows one at a time
row = cursor.fetchone()
while row != None:
   print(row)
   row = cursor.fetchone()

(1, 'M', "Macy's Inc")
(2, 'AXP', 'American Express Company')
(3, 'AAPL', 'Apple Inc.')
(4, 'BA', 'The Boeing Company')
(5, 'CAT', 'Caterpillar Inc.')

Program 14-4

In [4]:
# for can be used with the Cursor to get one result row at a time
import sqlite3 as db

# establish a Connection to a SQLite fi le, indicating the fi lename
connection = db.connect('dj.db')

# the Cursor will be used to submit database requests and get results
cursor = connection.cursor()

# submit a SQL request to the database
cursor.execute('SELECT id, ticker, name FROM company LIMIT 5')

# Access and display rows one at a time
for row in cursor:
   print(row)

(1, 'M', "Macy's Inc")
(2, 'AXP', 'American Express Company')
(3, 'AAPL', 'Apple Inc.')
(4, 'BA', 'The Boeing Company')
(5, 'CAT', 'Caterpillar Inc.')

Program 14-5

In [5]:
# query a Python table, and populate the results in a DataFrame
import sqlite3 as db
import pandas as pd

# establish a Connection to a SQLite file, indicating the filename
connection = db.connect('dj.db')

# the Cursor will be used to submit database requests and get results
cursor = connection.cursor()

# submit a SQL request to the database
cursor.execute('SELECT id, ticker, name FROM company LIMIT 5')

# get the full result set as a matrix represented by a list of tuples
rows = cursor.fetchall()

# place SQL results in a DataFrame
df = pd.DataFrame(rows)

# Give the DataFrame constructed above meaningful column names
df.columns = ['id', 'ticker', 'company']

# the id column is a good choice for this DataFrame's index
df.set_index('id', inplace=True)
print(df)

   ticker                   company
id
1       M                Macy's Inc
2     AXP  American Express Company
3    AAPL                Apple Inc.
4      BA        The Boeing Company
5     CAT          Caterpillar Inc.

Program 14-6

In [6]:
#### Most Concise #######
# use read_sql_query to populate SQL results to a DataFrame
import sqlite3 as db
import pandas as pd

connection = db.connect('dj.db')

# call the read_sql_query() method, and get the resulting DataFrame
df = pd.read_sql_query('SELECT * FROM company LIMIT 5',
                        connection, index_col='id')
df

   ticker                      name
id
1       M                Macy's Inc
2     AXP  American Express Company
3    AAPL                Apple Inc.
4      BA        The Boeing Company
5     CAT          Caterpillar Inc.

Program 14-7

In [7]:
# the Cursor.description property provides field names of the result
import sqlite3 as db
connection = db.connect('dj.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM company')

# display the field names of the returned result
for fieldinfo in cursor.description:
  print(fieldinfo[0])

id
ticker
name

Program 14-8

In [8]:
# Use SQL to join 2 tables; statements are similar to 1- table queries
import sqlite3 as db
connection = db.connect('dj.db')
cursor = connection.cursor()

# define a 2- table query
query = """
SELECT ticker, date, closing
FROM company, daily_measures
WHERE company.id = daily_measures.ticker_id
AND company.id = 3
AND date >= '2017-12-26'
ORDER BY date"""

# execute the query and display the result, similar to a 1- table query
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
   print(row)

('AAPL', '2017-12-26', 341.14)
('AAPL', '2017-12-27', 341.2)
('AAPL', '2017-12-28', 342.16)
('AAPL', '2017-12-29', 338.46)

Program 14-9

In [9]:
# As with file IO, Exceptions should be handled with database processing
# This example uses one try/except to cover a set of statements
import sqlite3 as db
try:
   connection = db.connect('dj.db')
   cursor = connection.cursor()
   cursor.execute('SELECT * FROM companies') # correct table name:company
   rows = cursor.fetchall()
   print(rows)
except Exception as e:
   print(e)

no such table: companies

Program 14-10

In [10]:
# In contrast with Example 14- 10, this uses several try/except statements
# More targeted exception handling can give more control over problems
import sys
import sqlite3 as db
try:
   connection = db.connect('dj.db')
except Exception as e:
   print(1, e)
   sys.exit(1)
   
try:
   cursor = connection.cursor()
   cursor.execute('SELECT * FROM companies')
except Exception as e:
   print(2, e)
   sys.exit(2)

try:
   rows = cursor.fetchall()
   print(rows)
except Exception as e:
  print(3, e)
  sys.exit(3)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

2 no such table: companies
Traceback (most recent call last):
  File "/var/folders/19/5cf7rxxx46z8z6ct0ntffh5m0000gn/T/ipykernel_3653/1965574499.py", line 13, in <module>
    cursor.execute('SELECT * FROM companies')
sqlite3.OperationalError: no such table: companies

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Applications/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/19/5cf7rxxx46z8z6ct0ntffh5m0000gn/T/ipykernel_3653/1965574499.py", line 16, in <module>
    sys.exit(2)
SystemExit: 2

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Applications/anaconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Applications/anaconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Applications/anaconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Applications/anaconda3/lib/python3.9/inspect.py", line 1543, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
AttributeError: 'tuple' object has no attribute 'tb_frame'

TypeError: object of type 'NoneType' has no len()

Program 14-11

In [ ]:
# Query a table and display each value and its Python type using fetchone()
import sqlite3 as db
connection = db.connect('dj.db')
cursor = connection.cursor()
cursor.execute('SELECT id, ticker, name FROM company')
row = cursor.fetchone()
if row != None:
  for field in row:
    print(type(field), '|', field)

Code from: Python for Data & Analytics, (c) 2023 Rose River Software, LLC