Python for Data & Analytics<br>
Chapter 11, section 7

*** requires datafile: DQ-Example-CrossCheck.csv

In [1]:
import pandas as pd
df = pd.read_csv('DQ-Example-CrossCheck.csv', index_col='id')
df

   children  children_num
id
1       yes           2.0
2         n           0.0
3         Y           1.0
4         N           2.0
5         Y          -1.0
6         x           1.0
7       NaN           NaN

In [2]:
# clean the children field
df['children_clean'] = df.children.str[0].str.lower()
df['children_clean'] = \
   df.children_clean.apply(lambda x: x if x in ('y','n') else None)
# clean the children_num field
df['children_num_clean'] = \
   df.children_num.apply(lambda x: x if x>=0 else None)
df

   children  children_num children_clean  children_num_clean
id
1       yes           2.0              y                 2.0
2         n           0.0              n                 0.0
3         Y           1.0              y                 1.0
4         N           2.0              n                 2.0
5         Y          -1.0              y                 NaN
6         x           1.0           None                 1.0
7       NaN           NaN           None                 NaN

In [3]:
df[(df.children_clean=='n') & (df.children_num_clean > 0)]

   children  children_num children_clean  children_num_clean
id
4         N           2.0              n                 2.0

In [4]:
# a helper function to find a set of cross-field issues
def checkChildren(row):
   check1 = row.children_clean=='n' and row.children_num_clean>0
   check2 = row.children_clean=='y' and row.children_num_clean==0
   return not (check1 or check2)

In [5]:
df['children_cross_ok'] = df.apply(checkChildren, axis=1)
df['children_cross_ok']

id
1     True
2     True
3     True
4    False
5     True
6     True
7     True
Name: children_cross_ok, dtype: bool

In [6]:
df[~df.children_cross_ok][['children_clean', 'children_num_clean']]

   children_clean  children_num_clean
id
4               n                 2.0

Code from: Python for Data & Analytics, (c) 2023 Rose River Software