Python for Data & Analytics<br>
Chapter 15, section 2

*** requires datafile: PythonExcelTable.xlsx

In [1]:
import pandas as pd
df = pd.read_excel('PythonExcelTable.xlsx')
df

,integer,float,date,datetime,text,formula,boolean,error,empty
0,1,1.5,2019-05-31,2019-05-31 12:00:00,hello,2.5,False,NaN,NaN
1,2,2.5,2019-06-30,2019-06-30 12:00:00,goodbye,4.5,True,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   integer   2 non-null      int64
 1   float     2 non-null      float64
 2   date      2 non-null      datetime64[ns]
 3   datetime  2 non-null      datetime64[ns]
 4   text      2 non-null      object
 5   formula   2 non-null      float64
 6   boolean   2 non-null      bool
 7   error     0 non-null      float64
 8   empty     0 non-null      float64
dtypes: bool(1), datetime64[ns](2), float64(4), int64(1), object(1)
memory usage: 258.0+ bytes

Code from: Python for Data & Analytics, (c) 2023 Rose River Software, LLC