# Test Script

In [1]:
import pandas as pd
from openpyxl import load_workbook

In [12]:
df = pd.read_excel("EcarSalesByCountryAndYear2.xlsx","EcarSalesByCountryAndYear", index_col = "Country")
df

                Sales2021  Sales2020  Sales2019  Sales2018  Sales2017
Country
Canada              87700      51376      50960      44150      18746
China             3334000    1246000    1204000    1016002     579000
France             315978     194881      69466      53745      42799
Germany            681410     394632     108839      67504      54492
Japan               44296      29000      43867      52013      54100
Netherlands         95464      89362      67520      29187      11085
Norway             167949     113588      88443      86290      71737
Sweden             138033      96054      41784      29909      19793
United Kingdom     305281     175082      72584      59911      49182
United States      607567     297939     329528     361307     199818

In [20]:
workbook = load_workbook('EcarSalesByCountryAndYear2.xlsx', data_only=True)
worksheet = workbook["Documentation"]
worksheet

In [24]:
cell = worksheet["B2"]
cell.value

'https://en.wikipedia.org/wiki/Electric_car_use_by_country'